<!DOCTYPE html>
<html ng-app="DriverIni">
<head>
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta charset="UTF-8">

<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
<!--===============================================================================================-->

<title>DRIVER</title>

</head>
<body ng-controller="PrincipalCtrl">
	
		<div ng-show="login" class="row" style="margin:0px;">	

			<!-- LOGIN -->
			<div class="limiter" style="height: 100%">
				<div  class="container-login100" style="height: 100%">
					<div class="wrap-login100" style="height: 100%">						
							<form name='f' action='/login' method='POST' class="login100-form validate-form">
								<span class="login100-form-title p-b-34">
									Account Login
								</span>
								
								<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type email">
									<input class="input100" type="text" name="username" ng-model="username" value='' placeholder="Email" required>
									<span class="focus-input100"></span>
								</div>
								<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
									<input class="input100" type="password" name='password' ng-model="passLogin" placeholder="Password" required>
									<span class="focus-input100"></span>
								</div>
								
								<div class="container-login100-form-btn">
									<button name="submit" type="submit" value="Login" class="login100-form-btn">
										Sign in
									</button>
								</div>
							
								<div class="w-full text-center p-t-27 p-b-239">
									<span class="txt1">
										New user?  | 
									</span>
							
									<a href="#" ng-click="changeLogin();" class="txt3">
										Sign Up
									</a>
								</div>
							</form>
							
						<div class="login100-more" style="background-image: url('images/bg-01.jpg');"></div>
					</div>
				</div>
				
				
			</div>

		</div>

		<!-- ////////////// SIGNUP /////////////////////////////// -->
		<div ng-show="!login" class="row" style="margin:0px;">	

			<!-- LOGIN -->
			<div class="limiter" style="height: 100%">
				<div  class="container-login100" style="height: 100%">
					<div class="wrap-login100" style="height: 100%">						
							<form  class="login100-form validate-form form-group" style="margin-top: -250px; padding-top: 275px;">
							

									<a title="Go back" href="#" ng-click="changeLogin();"><img src="images/icons/back.png"
										style="margin-top: -30px; width: 45px; height: 45px; margin-bottom: -34px;"
										alt="Go back" /></a> 
										<span class="login100-form-title p-b-34">
											Sign Up 
										</span>
									<div ng-if="errors.length > 0" style=" margin: 13px;    padding: 8px;">
										<ul style="color:  red;	">
							                <li ng-repeat="err in errors">
							                    {{ err }}
							                </li>
							            </ul>
									</div>

									<div class="wrap-input100 validate-input m-b-20"
										data-validate="Type your name">
										<input id="firstName" required class="input100"
											ng-model="firstName" type="text" name="firstName"
											placeholder="First Name (*)"> <span
											class="focus-input100"></span>
									</div>
									<div class="wrap-input100 validate-input m-b-20"
										data-validate="Type your last name">
										<input id="lastName" required class="input100"
											ng-model="lastName" type="text" name="lastName"
											placeholder="Last name (*)"> <span
											class="focus-input100"></span>
									</div>
									<div class="wrap-input100 validate-input m-b-20"
										data-validate="Type email">
										<input id="email" ng-model="email" required class="input100"
											type="email" name="email" placeholder="Email (*)"> <span
											class="focus-input100"></span>
									</div>
									<div class="wrap-input100 validate-input m-b-20"
										data-validate="The email confirmation doesn't match the email field above">
										<input id="confirmEmail" ng-model="confirmEmail" required class="input100" type="email"
											name="confirmEmail" placeholder="Confirm Email (*)"> <span
											class="focus-input100"></span>
									</div>
									<div class="wrap-input100 validate-input m-b-20"
										data-validate="Type password">
										<input class="input100" ng-model="password" required
											type="password" name="password" id="password"
											placeholder="Password (*)"> <span class="focus-input100"></span>
									</div>
									<div class="wrap-input100 validate-input m-b-20"
										data-validate="The password confirmation doesn't match the password field above">
										<input class="input100" required type="password"
											name="confirmPassword" ng-model="confirmPassword" id="confirmPassword"
											placeholder="Confirm password (*)"> <span
											class="focus-input100"></span>
									</div>
									<div class="wrap-input100 validate-input m-b-20"
										data-validate="Type your driver's license expiraty date">
										
											<label class="col-sm-7 col-xs-7 radio-inline input100-radio" style="margin-bottom: 13px;height: 80%;margin-top: 13px;">License expiry date (*)</label>
											<input id="fExpLicense" class="col-sm-5 col-xs-5 "
											 ng-model="fLicense" type="date" style="border: none;font-size: 15px; margin-bottom: 10px; margin-top: 7px; padding:  0;"
											 required name="fExpLicense">
										<span class="focus-input100"></span>
									</div>
									<div class="wrap-input100 validate-input m-b-20"
										data-validate="The DNI is incorrect">
										<input id="dni" class="input100" mask="9?9?9?9?9?9?9?9-@"
											ng-model="dni" restrict="reject" " clean="true" type="text"
											maxlength="10" name="dni" placeholder="DNI (*)" required> <span
											class="focus-input100"></span>
									</div>
									<div class="wrap-input100 validate-input m-b-20"
										data-validate="Type your phone number">
										<input id="phone" ng-model="phone" class="input100"
											mask="999 999 999" restrict="reject" " clean="true" type="text"
											maxlength="11" name="phone" placeholder="Phone number">
										<span class="focus-input100"></span>
									</div>
									<div class="wrap-input100 validate-input m-b-20"
										data-validate="Type your birth date">
										<label class="col-sm-7 col-xs-7 radio-inline input100-radio" style="margin-bottom: 13px;height: 80%;margin-top: 13px;">Birth date (*)</label>
										<input id="birthDate" class="col-sm-5 col-xs-5 "
											 ng-model="fBirth" type="date" style="border: none;font-size: 15px; margin-bottom: 10px; margin-top: 7px; padding:  0;"
											required name="birthDate">
											<span class="focus-input100"></span>
									</div>
									<div class="wrap-input100 m-b-20">
										<div>
											<label class="radio-inline input100-radio" style="margin-bottom: 13px;margin-top: 11px;">Gender:</label> <label
												class="radio-inline input100-radio"> <input
												ng-model="gender" type="radio" name="gender" value="m"
												checked='true' /> Male
											</label> <label class="radio-inline input100-radio"> <input
												ng-model="gender" type="radio" name="gender" value="f" />
												Female
											</label>
										</div>

										<span class="focus-input100"></span>
									</div>
									<div class="row"
											style="position: relative;margin-left: -10px;">
											<input accept="image/*" name="userImg"
											ng-value="userImg" value="{{userImg}}"
											file-model="userImg" set-file-data="userImg = value;"
											type="file" id="user_img" style="display: none" /> 
											<input
											type="button" style=" margin-left: 10px;" value="Profile Picture"
											class="col-sm-10 col-xs-10 btn btn-default"
											onclick="document.getElementById('user_img').click();">
										<span value="imgCar.name" class="col-sm-12 col-xs-12">{{userImg.name.substr(0,50)}}</span>
									
										<span class="focus-input100"></span>
									</div>
									<br />
									 <span ng-if="listCars.length > 0" class="login100-form-title p-b-34">My Cars</span>
									
									<hr class="col-sm-12 col-xs-12" />
									<div class="row" ng-repeat="car in listCars">
										<a href="#" style="color: red;margin-bottom: 15px;" class="col-xs-12 col-sm-12" ng-click="deleteCar(car.matricula);">Delete Car</a>

										<img style="margin-bottom: 13px;" ng-src="{{car.imgUrl}}" class="col-xs-4 col-sm-4 img-responsive"> 
										
										<label class="col-sm-12 col-xs-12">Car Registration: </label> 
										<span class="col-sm-12 col-xs-12">{{car.matricula}}</span> 
										<label class="col-sm-12 col-xs-12">Model: </label> 
										<span class="col-sm-12 col-xs-12">{{car.model}}</span>
										<label class="col-sm-12 col-xs-12">Color: </label> 
										<span class="col-sm-12 col-xs-12">{{car.color}}</span>
										<hr class="col-sm-12 col-xs-12" />


									</div>
									<span class="col-sm-12 col-xs-12">Add the cars which you will use with <strong>DRIVER</strong>.</span> 
									<a href="#" ng-click="show()" class="txt3" style="margin: 19px;">
										<img style="margin-right: 6px;width: 33px;" src="images/icons/favicon.png"> 
										Add Car
									</a>
									<div class="container-login100-form-btn">
										<button type="submit" ng-click="submit();" class="login100-form-btn">Sign Up
										</button>
									</div> 
									<div ng-if="loading" class="col-sm-12" style="text-align:  center;margin-top: 28px;">
										<img src="/images/loading.gif" alt="Loading...">
									</div>
							</form>
							
						<div class="login100-more" style="background-image: url('images/bg-01.jpg');"></div>
					</div>
				</div>
				
				
			</div>
		</div>
			<!-- Footer -->
		
			<section id="footer">
				<div class="container">
					<div class="row text-center text-xs-center text-sm-left text-md-left">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<h5>Quick links</h5>
							<ul class="list-unstyled quick-links">
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<h5>Quick links</h5>
							<ul class="list-unstyled quick-links">
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<h5>Quick links</h5>
							<ul class="list-unstyled quick-links">
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
								<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
								<li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
							<ul class="list-unstyled list-inline social text-center">
								<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
								<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
								<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
							</ul>
						</div>
						</hr>
					</div>	
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
							<p>National Transaction Corporation is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
							<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
						</div>
						</hr>
					</div>	
				</div>
			</section>
		

		
		
		
	
		
	

<!--===============================================================================================-->
	<!-- <script src="lib/angular.js"></script> -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
	<script src="lib/angular-animate.js"></script>
	<script src="lib/ngMask.min.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.0.js"></script>
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	
	<script src="lib/bootstrap/js/bootstrap.js"></script>
	<!-- <script src="lib/bootstrap/js/ui-bootstrap-tpls.js"></script> -->
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<!-- <script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->
<!--===============================================================================================-->
	
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	
<!-- 	<script src="js/main.js"></script> -->
	<script src="js/PrincipalCtrl.js"></script>
	
</body>


</html>