<div class="modal-content">
		<div class="modal-header">
		          <h3 class="modal-title">Trip Details</h3>
		</div>
		<div class="modal-body">
			<h1>DRIVER</h1>	  
			<div class="row">    
				<img class="img-responsive col-sm-2 col-xs-2"  style="background: white;border: solid;border-color: black;padding: 2px;border-radius: 17px 17px 17px 17px;" ng-src="{{viaje.conductor.userImg}}" alt="Profile Picture">
				<label class=" col-sm-3 col-xs-2" style="text-align: right;">Name: </label><span class=" col-sm-6 col-xs-6"> {{viaje.conductor.firstName}} {{viaje.conductor.lastName}}</span>
			</div>
				<hr class="row" />
			<h1>TRIP</h1>
			<div class="row">
				<label class=" col-sm-3 col-xs-3" style="text-align: right;">Origin: </label><span class=" col-sm-6 col-xs-6"> {{viaje.mapa.descOrigen}}</span>
			</div>
			<div class="row">
				<label class=" col-sm-3 col-xs-3" style="text-align: right;">Destination: </label><span class=" col-sm-6 col-xs-6"> {{viaje.mapa.descDestino}}</span>
			</div>
			<div class="row">	
				<label class=" col-sm-3 col-xs-3" style="text-align: right;">Avaible Seats: </label><span class=" col-sm-6 col-xs-6"> {{viaje.plazas - viaje.pasajeros.length}} / {{viaje.plazas}}</span>
			</div>
			<div class="row">
				<label class=" col-sm-3 col-xs-3" style="text-align: right;">Time: </label><span class=" col-sm-6 col-xs-6"> {{viaje.minutos}} min.</span>
			</div>
			<hr class="row" />
			<h1>PASSENGERS</h1>
			<div class="row">

			</div>
		</div>
</div>
	     <div class="modal-footer">
	         <button class="btn btn-primary" type="button" ng-click="">Join</button>
	         <button class="btn btn-default" type="button" ng-click="">Cancel</button>
	     </div>
        
</div>	